@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-animation {
  animation: 90s linear infinite bg-animation;
}

@keyframes bg-animation {
  from {
    background-position-x: 0%;
    background-position-y: 25%;
  }

  to {
    background-position-x: 100%;
    background-position-y: 75%;
  }
}
