@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-animation {
  animation: 50s linear infinite bg-animation-x,
    100s linear infinite bg-animation-y;
}

@keyframes bg-animation-x {
  from {
    background-position-x: 0%;
  }

  to {
    background-position-x: 100%;
  }
}

@keyframes bg-animation-y {
  from {
    background-position-y: 0%;
  }

  to {
    background-position-y: 100%;
  }
}
